* {
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1F2039;
}
  
a{
    color: #242424;
    text-decoration: none;
}
h1{
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    color: #A5B4FC;
}
h2{
    color: #f9f8ff;
}
p, li{
    font-size: 1.1em;
    color: #F9F8FF;
}
.important{
    color: #A5B4FC;
    font-style: normal;
}
header{
    position: sticky;
    top: 0px;
}
header, footer{
    padding: 20px 50px;
    background-color: white;
}
.header, .footer, .projet{
    background-color: white;
    color:#242424
}
.cta{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: linear-gradient(#8e86b5, #acaeed);
    border-radius: 50px;
}
.apropos{
    padding:50px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-color: #8e86b5;
}
a:hover{
    text-decoration: underline;
}
.cta:hover{
    text-decoration: none;
    background: linear-gradient(#696484, #8788BA);
}
.lien-icone:hover{
    opacity: 0.5;
}
section{
    padding: 80px;
}
.apropos-main{
    width: 50%;
    margin:auto;
}
.apropos h2{
    margin-top: 50px;
    margin-bottom: 50px;
}
nav, .footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav a{
    margin-left: 30px;
}
.section-accueil{
    display:flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    margin:auto;
    padding:80px;
}
.grille-photo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    margin-bottom: 15px;
    gap: 15px; 
}
.grille-photo img{
    width: 30%;
}

.projet h2{
    color: black;
    text-align: center;
    margin-bottom: 80px;
}

.portfolio-section-photos {
    background-color: white;
}
  
.portfolio-section-photos h2 {
    color: #242424;
    margin-bottom: 80px;
}
  
.grid-paysages img,
.grid-portraits img {
    width: 100%;
    height: 100%;
    /* Même si vous ne connaissez pas cette propriété, vous en aurez besoin pour permettre aux images de respecter les dimensions de la grid CSS */
    object-fit: cover;
}
.grid-paysages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap:15px;
}
.grid-portraits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px ;
    gap:15px;
}
.portfolio-section-photos h2{
    margin-top: 50px;
}
.conteneur-photo{
    position: relative;
}

.black-square{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items:center;
    justify-content:center;
    color :white;
    background-color: rgba(0,0,0,0.7);
    display: none;
}
.conteneur-photo:hover .black-square{
    display: flex;
}
.section-table{
    padding:0px;
}

table{
    text-align: center;
    border: solid 1px #8e86b5;
    border-collapse: collapse;
    width: 100%;
    color: white;
    margin:auto;
    margin-bottom: 30px;
}
caption{
    margin-bottom:50px;
}
td, th{
    border: solid 1px #8e86b5;
    padding:15px;
}
td{
    padding:80px 20px;
}

